<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_project.css' %}">
    <title>Add New Project</title>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>Add a New Project</h1>

            <!-- Form to add a new project -->
            <form action="{% url 'add_project' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Project Title</label>
                    <input type="text" name="title" id="title" required>
                </div>

                <div class="form-group">
                    <label for="technology_used">Technology Used</label>
                    <textarea name="technology_used" id="technology_used" cols="40" rows="4" required>{{ project.technology_used }}</textarea>
                </div>
                

                <div class="form-group">
                    <label for="deployed_link">Deployed Link</label>
                    <input type="url" name="deployed_link" id="deployed_link" required>
                </div>

                <div class="button-wrapper">
                    <button class="btn" type="submit">Add Project</button>
                    <button class="btn" type="button" onclick="window.location.href='/'">Home</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
